/* src/styles.css */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
}

.home-container {
  text-align: center;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.home-container h3 {
  color: #2e3b55;
}

.home-container button {
  margin-top: 1rem;
}

footer {
  background-color: #2e3b55;
  color: white;
  padding: 2rem;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Responsive column width */
  gap: 10px; /* Adds space between the images */
  box-sizing: border-box; /* Ensure padding is included in the width */
  position: center;
}

.image-container img {
  width: 100%; /* Make the image fill the grid cell */
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Optional: Control maximum height */
  object-fit: cover; /* Fill the grid space without distortion */
}
